.body{
    height: 100%;
    background-color: rgb(83, 82, 59);
}


.caixa{
    
    background-color: white;
    border: 3px solid;
    position: static;
    width: 31%;
    margin: 0px;
    position: left;
    padding: 5px;
    display: inline-block;
    border-color: red;

}
main{
    margin: 0 auto;
}
.text-content{
    display: flex;
    justify-content: space-around;
}
.imagem{
    
    background-color: white;
    border: 3px solid;
    position: static;
    width: 31%;
    margin: 5px;
    position: left;
    padding: 5px;
    display: inline-block;
    border-color: red;

}
.imagem img{
    width: 100%;
    height: 450px;
}
.div-content{
    display: flex;
    justify-content: space-around;
    width: 100%;
}